
 .detail-sports-row{
  border-bottom: 1px solid lightgray;
  height: 620px;
 }

 .row .business-row h2 {
     margin-left: 20px;
 }

 .panel {
    border-left:none;  
    border-right:none;
  }
/* overrides height of detail class on small devices */
 @media (max-width: 768px) { 
   
    .detail-sports-row{
        height: auto;
       }
  }