<div class="panel panel-default">
  <div class="panel-body">
    <div class="news-content">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Top Stories</h2>
          <news-articles [articles]="genralNews" (selected)="selectedArticle($event)"></news-articles>
        </div>
        <div class="col-md-8 detail-news" *ngIf="selectedNews">
          <div class="row detail-sports-row">
            <div class="col-md-6 ">
              <h2>Details</h2>
              <article-detail [selectedArticle]="selectedNews"></article-detail>
            </div>
            <div class="col-md-6">
              <h2>Sports News</h2>
              <pic-news [allNews]="sportsNews"></pic-news>
            </div>
          </div>
          <div class="row business-row" *ngIf="bussinesNews">
            <h2> Business World</h2>
            <div class="col-md-6">
              <pic-news [allNews]="bussinesNews"></pic-news>
            </div>
            <div class="col-md-6">

              <pic-news [allNews]="moreBussinesNews"></pic-news>
            </div>
          </div>

        </div>
      </div>
      <!-- ----row end----- -->
      <hr>
    </div>
    <!-- /container -->
  </div>
  <div class="panel-footer">
    <footer class="link pull-right"> 
       <a href="https://newsapi.org" class="newsapi-link ">Powered By News API<img class="footer-logo"  src="../../assets/newsapi-logo.png" alt="News API"></a>
    </footer>
  </div>
</div>