<news-navbar></news-navbar>
<div class="container news-content">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Top Stories</h2>
     <news-articles [articles] = "genralNews" (selected)="selectedArticle($event)"></news-articles>
    </div>
    <div class="col-md-4" *ngIf="bussinesNews">
      <h2>Details</h2>
      <article-detail [selectedArticle] = "selectedNews"></article-detail>
      <h2 class="business-heading"> Business World</h2>
      <pic-news [allNews] = "bussinesNews"></pic-news>
      </div>
    <div class="col-md-4" *ngIf="sportsNews">
      <h2>Sports News</h2>
      <pic-news [allNews] = "sportsNews"></pic-news>
    </div>


  </div>   <!-- ----row end----- -->
  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->