<div class="row " *ngIf="selectedArticle">
 <div class="col-sm-12 col-md-12">
   <div class="thumbnail">
    <img  [src]="selectedArticle.urlToImage" alt="news image"/>
     <div class="caption ">
       <h3 >{{selectedArticle.title}}</h3>
       <h5 >{{selectedArticle.author}}</h5>
       <time>{{selectedArticle.publishedAt | date}}</time>
       <p class="description"> {{selectedArticle.description}}</p>
       
       <p><a [href]="selectedArticle.url" class="btn btn-primary" role="button">Read Full Article</a></p>
     </div>
   </div>
 </div>
</div>