.navbar{
    margin-bottom: 0;
}
.site-top{
    text-align: center
}
.site-title{
    font-family: 'Fredericka the Great', cursive;
    font-size:70px;
}

.top-bar{
 border-bottom: 1px solid lightgray;
 text-align: center;
}

.navbar-right{
    margin-right:0;
}