.media-body:hover {
     color: #065bb0;
     text-decoration: underline;
}

.media{
    margin: 25px 0 ;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
.media .media-top img {
    width:94px;
}
.img-thumbnail{
    border:none;
}
 .media {
    min-height: 105px;
}